.RepShops {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    .RepShopsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .RepShopCardsContainer {
            display: flex;
            flex-direction: column;
            background: #f4f4f4;
            gap: 10px;
            padding: 20px;
            margin-top: 5%;
            margin-left: 16%;
            width: calc(100% - 18%);
            height: calc(100vh - 75px);
            overflow-x: hidden;
            overflow-y: scroll;
            align-items: center;

            .RepShopsTop {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-size: 28px;
                    color: #616161;
                    align-self: flex-start;
                }

                .AddButton {
                    background: green;
                    color: white;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    align-self: flex-end;
                }
                
                .AddButton:hover {
                    background: darkgreen;
                    transform: scale(1.05);
                }
            }

            .RepShopsGrid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                padding: 10px 0px;
                width: 100%;

                .RepShopCard {
                    display: flex;
                    flex-direction: column;
                    width: 88%;
                    height: 80%;
                    align-items: center;
                    justify-content: center;
                    background:#b7adad;
                    padding: 15px;
                    border-radius: 15px;
                    -webkit-box-shadow: 1px 1px 5px 1px #425060;
                    box-shadow: 1px 1px 5px 1px #a0afc1;
                    gap: 10px;
                    border-right: 4px solid #826c6cd1;
                    border-bottom: 4px solid #826c6cd1;

                    h2 {
                        font-size: 18px;
                        color: #000;
                        margin-top: -5px;
                    }

                    .RepShopCardMiddle {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;

                        .RepShopCardIcon {
                            font-size: 60px;
                            color: #000;
                        }

                        .RepShopCardDetails {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            font-size: 15px;
                            color: #000;
                        }
                    }

                    .RepShopCardButtons {
                        display: flex;
                        gap: 15px;

                        .DeleteButton, .EditButton {
                            border: none;
                            cursor: pointer;
                            border-radius: 5px;
                            padding: 5px 10px;
                            font-size: 15px;
                            color: white;
                        }
                        
                        .DeleteButton {
                            background: #b71c1c;
                        }
                        
                        .DeleteButton:hover {
                            background: #e53935;
                            transform: scale(1.05);
                        }
                        
                        .EditButton {
                            background: #8d6e63;
                        }
                        
                        .EditButton:hover {
                            background: #6d4c41;
                            transform: scale(1.05);
                        }                        
                    }
                }

                .RepShopCard:hover {
                    transform: scale(1.05);
                    box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.12);
                    border-right: 6px solid #826c6cd1;
                    border-bottom: 6px solid #826c6cd1;
                }
            }
        }
    }

    .ModalBackdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1999;
        display: flex;
        justify-content: center;
        align-items: center;

        .AddShopModal {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 50%;
            background: whitesmoke;
            border-radius: 20px;
            -webkit-box-shadow: 1px 1px 5px 1px #425060;
            box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.15);
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2000;
            gap: 30px;

            h2 {
                font-size: 30px;
                color: #616161;
                margin-top: -20px;
            }

            .AddShopModalMiddle {
                display: flex;
                flex-direction: row;
                gap: 30px;
                width: 90%;

                .AddShopModalIcon {
                    font-size: 160px;
                    color: #000;
                    align-self: flex-start;
                }

                .AddShopModalInputs {
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    gap: 30px;

                    input {
                        font-size: 20px;
                        padding: 10px;
                        border-radius: 10px;
                        color: white;
                        background-color: #000
                    }
                }
            }

            .AddShopModalButtons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 40px;
                font-size: 18px;

                .AddShopCancelButton {
                    background: orangered;
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                }

                .AddShopCancelButton:hover {
                    transform: scale(1.05);
                    background: orange;
                }

                .AddShopSaveButton {
                    background: peru;
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                }

                .AddShopSaveButton:hover {
                    transform: scale(1.05);
                    background: green;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .RepShopCardsContainer {
        margin-top: 8% !important;
        margin-left: 50px !important;
        width: calc(100% - 11%) !important;
    }

    .AddButton {
        font-size: 20px !important;
    }

    .RepShopsGrid {
        grid-template-columns: repeat(2, 1fr) !important;
        margin-top: 5px !important;
        margin-left: 10px;
        gap: 10px !important;
    }

    .RepShopCard h2 {
        font-size: 20px !important;
        margin-top: 0px !important;
    }

    .RepShopCardIcon {
        font-size: 50px !important;
    }

    .DeleteButton, .EditButton {
        font-size: 20px !important;
        padding: 8px 15px !important;
    }
    
    .AddShopModal {
        width: 85% !important;
        height: 40% !important;
    }

    .AddShopModalIcon {
        font-size: 120px !important;
    }

    input {
        font-size: 25px !important;
    }

    .AddShopModalButtons {
        font-size: 22px !important;
    }

    .AddShopCancelButton {
        font-size: 22px !important;
    }
}

@media (max-width: 480px) {
    .RepShopCardsContainer {
        margin-top: 12% !important;
        margin-left: 0 !important;
        width: calc(100% - 9%) !important;
    }

    .AddButton {
        font-size: 20px !important;
    }

    .RepShopsGrid {
        display: flex !important;
        flex-direction: column !important;
        margin-top: 0 !important;
        margin-left: -5px !important;
    }

    .RepShopCard {
        width: 92% !important;
    }

    .AddShopModal {
        width: 85% !important;
        height: 60% !important;
        gap: 50px !important;
    }

    .AddShopModalMiddle {
        display: flex;
        flex-direction: column !important;
        gap: 20px;
        width: 100% !important;
        align-items: center;
        justify-content: center;
    }

    .AddShopModalIcon {
        font-size: 100px !important;
        align-self: center !important;
    }

    .AddShopModalInputs {
        width: 90% !important;
        gap: 20px !important;
    }

    input {
        font-size: 18px !important;
    }

    .AddShopModalButtons {
        font-size: 18px !important;
    }

    .AddShopCancelButton {
        font-size: 18px !important;
    }
}